@media screen and (max-width: 338px) {
    #rocket{
        left: 17%;
    }
    #stars{
        left: 9%;
    }
    .popular-date {
        margin: 0 3px;
    }
    .dot{
        margin-right: 8px;
    }
}

@media screen and (min-width: 375px) {
    .popular-div{
        justify-content: left;
    }
    .popular-div-right{
        margin-left: 10px;
    }
}

@media screen and (min-width: 425px) {
    #rocket{
        left: 26%;
    }
    #stars{
        left: 18%;
    }
}

@media screen and (min-width: 550px) {
    .s1-right img{
        width: 225px;
    }
    #rocket{
        left: 28%;
        top: 5%;
    }
    #stars{
        left: 14%;
        top: 4%;
        width: 370px;
    }
    #clouds{
        width: 480px;
        left: 7%;
        top: 55%;
    }
    .s4-div{
        justify-content: space-around;
    }
    #s3-left-photo{
        display: block;
        margin: 25px auto;
        width: 85%;
    }
    .s4-right img{
        display: block;
        width: 85%;
        margin: 0 auto;
    }
    .s8-left img{
        display: block;
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px){
    header{
        padding: 20px;
    }
    .hamburger{
        display: none;
    }
    .list{
        font-size: 1rem;
        padding: 0;
        opacity: 1;
        position: relative;
        margin: 0;
        height: auto;
        background-color: transparent;
        width: auto;
    }
    .u-list{
        display: flex;
        padding-top: 0;
        align-items: center;
        justify-content: right;
        list-style: none;
        position: static;
        top: 0;
        left: 0;
        transform: none;
    }
    .u-list li{
        margin-bottom: 0;
        margin: 0 10px;
    }
    .s1-container p{
        margin: 25px 0;
    }
    #rocket{
        left: 33%;
    }
    #stars{
        left: 22%;
    }
    #clouds{
        left: 19%;
    }
    .s2-down{
        display: flex;
        flex-wrap: wrap;
    }
    .icon-container{
        width: 40%;
        margin: 30px auto;
    }
    .s4-divs{
        flex-direction: row;
        margin: 30px auto;
    }
    .s4-div{
        flex-direction: column;
    }
    .s4-right-to-circle{
        width: 95%;
    }
    .s4-left p{
        margin: 0 auto;
    }
    .s4-right-to-circle h3{
        margin: 15px auto;
    }
    .s7-right{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 90px;
    }
    .s10-4{
        width: 50%;
    }
    .s10-2{
        display: flex;
        justify-content: space-around;
    }
    .categories{
        margin-top: 5%;
        padding-left: 10px;
    }
    .button-tags{
        padding-left: 10px;
    }
    .learn-more{
        padding-left: 10px;
    }
}

@media screen and (min-width: 1024px){

}