@media screen and (max-width: 338px) {
    .rocket{
        left: 17%;
    }
    #stars{
        left: 9%;
    }
    .popular-date {
        margin: 0 3px;
    }
    .dot{
        margin-right: 8px;
    }
}

@media screen and (min-width: 375px) {
    .popular-div{
        justify-content: left;
    }
    .popular-div-right{
        margin-left: 10px;
    }
}

@media screen and (min-width: 425px) {
    .rocket{
        left: 26%;
    }
    #stars{
        left: 18%;
    }
}

@media screen and (max-width: 425px){
    .moon{
        font-size: 100px;
    }
    .pre-cloud{
        font-size: 70px;
    }
    .pre-stars{
        width: 400px;
    }
    .stars4{
        display: none;
    }
    .stars3{
        transform: rotate(210deg);
        top: 67%;
        right: 0;
    }
    .stars2{
        left: 6%;
        top: 45%;
        transform: rotate(-48px);
    }
}

@media screen and (min-width: 550px) {
    .s1-right img{
        width: 225px;
    }
    .rocket{
        left: 28%;
        top: 5%;
    }
    #stars{
        left: 14%;
        top: 4%;
        width: 370px;
    }
    #clouds{
        width: 480px;
        left: 7%;
        top: 55%;
    }
    .s4-div{
        justify-content: space-around;
    }
    #s3-left-photo{
        display: block;
        margin: 25px auto;
        width: 85%;
    }
    .s4-right img{
        display: block;
        width: 85%;
        margin: 0 auto;
    }
    .s8-left img{
        display: block;
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px){
    header{
        padding: 20px;
    }
    .hamburger{
        display: none;
    }
    .list{
        font-size: 1rem;
        padding: 0;
        opacity: 1;
        position: relative;
        margin: 0;
        height: auto;
        background-color: transparent;
        width: auto;
    }
    .u-list{
        display: flex;
        margin-top: 0;
        align-items: center;
        justify-content: right;
        list-style: none;
        position: static;
        top: 0;
        left: 0;
        transform: none;
    }
    .u-list li{
        margin-bottom: 0;
        margin: 0 10px;
    }
    .s1-container p{
        margin: 25px 0;
    }
    .rocket{
        left: 33%;
    }
    #stars{
        left: 22%;
    }
    #clouds{
        left: 19%;
    }
    .s2-down{
        display: flex;
        flex-wrap: wrap;
    }
    .icon-container{
        width: 40%;
        margin: 30px auto;
    }
    #s3-left-photo{
        width: 70%;
    }
    .s4-divs{
        flex-direction: row;
        margin: 30px auto;
    }
    .s4-div{
        flex-direction: column;
    }
    .s4-right-to-circle{
        width: 95%;
    }
    .s4-left p{
        margin: 0 auto;
    }
    .s4-right-to-circle h3{
        margin: 15px auto;
    }
    .s4-right img{
        width: 70%;
    }
    .s7-right{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 90px;
    }
    .s8-left img{
        width: 70%;
    }
    .s10-4{
        width: 50%;
    }
    .s10-2{
        display: flex;
        justify-content: space-around;
    }
    .categories{
        margin-top: 5%;
        padding-left: 10px;
    }
    .button-tags{
        padding-left: 10px;
    }
    .learn-more{
        padding-left: 10px;
    }
    .s9-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .s9-container input{
        display: inline-flex;
        width: 45%;
        margin: 0;
        margin-right: 13px;
    }
    .s9-container button{
        display: inline-flex;
        margin: 0;
    }
}

@media screen and (min-width: 1024px){
    .u-list li{
        font-weight: 600;
    }
    .s1-container{
        display: flex;
    }
    .s1-right{
        width: 55%;
    }
    .s1-left{
        width: 45%;
        padding-top: 10%;
    }
    .s1-container h1{
        font-size: 2rem;
        font-weight: 600;
    }
    .s1-container p{
        margin: 30px 0 45px 0;
        font-size: 1.2rem;
        word-spacing: 0.1mm;
    }
    .rocket{
        top: 10%;
    }
    #stars{
        left: 18%;
    }
    #clouds{
        left: 14%;
    }
    .s2-up h1{
        font-size: 1.8rem;
        width: 70%;
        margin: 0 auto;
    }
    .icons{
        width: 100px;
        height: 100px;
        background-size: 100% 100% !important;
    }
    .icon-inner{
        width: 65px;
        height: 75px;
    }
    .icon-container{
        width: 34%;
    }
    #search{
        width: 40px;
        height: 45px;
        margin-top: 29px;
        margin-left: 29px;
    }
    #envelope{
        width: 40px;
        height: 50px;
        margin-top: 25px;
        margin-left: 29px;
    }
    #links{
        width: 50px;
        height: 55px;
        margin-top: 23px;
        margin-left: 21px;
    }
    #to-do-list{
        width: 45px;
        height: 50px;
        margin-top: 25px;
        margin-left: 27px;
    }
    .s3-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 50px 20px;
    }
    #s3-left-photo{
        width: 100%;
    }
    .s3-left{
        width: 45%;
    }
    .s3-right{
        width: 50%;
    }
    .s3-right p{
        text-align: left;
    }
    .s3-right h1{
        text-align: left;
        font-size: 1.8rem;
    }
    .s3-tick-and-p{
        margin: 6px auto;
    }
    .s4-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px;
        padding-top: 60px;
    }
    .s4-right{
        width: 45%;
    }
    .s4-left{
        width: 45%;
    }
    .s4-left p{
        text-align: left;
    }
    .s4-left h1{
        text-align: left;
        font-size: 1.8rem;
        margin: 10px 0;
    }
    .s4-divs{
        flex-direction: column;
        margin: 30px auto;
    }
    .s4-div{
        flex-direction: row;
        align-items: unset;
    }
    .lightbulb{
        margin-top: 25px;
        margin-left: 23px;
    }
    .search-folder{
        font-size: 2.8rem;
        margin-left: 19px;
        margin-top: 26px;
    }
    .heart{
        margin-left: 16px;
    }
    .inner-circle p{
        text-align: center;
    }
    .s4-right-to-circle{
        margin-left: 5%;
    }
    .s4-right-to-circle h3{
        text-align: left;
        margin: 10px 0;
        font-size: 1.5rem;
    }
    .s4-right-to-circle p{
        font-size: .7rem;
    }
    .s4-right img{
        width: 100%;
    }
    .s5-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 70px 20px;
    }
    .s6-texts h1{
        font-size: 1.8rem;
    }
    .s7-container{
        display: flex;
        justify-content: space-between;
        padding: 100px 20px;
    }
    .s7-right{
        width: 45%;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }
    .s7-left{
        width: 45%;
    }
    .s7-left h1{
        text-align: left;
        font-size: 1.8rem;
        margin: 15px 0 35px 0;
    }
    .s7-left p{
        font-size: .9rem;
    }
    #pricing{
        text-align: left;
    }
    .pricing-2{
        box-shadow: 7px 4px 7px 5px rgba(0,0,0,0.1);
    }
    .pricing-div{
        margin: 0;
    }
    .choose-plan{
        font-size: .8rem;
    }
    .pricing-div:hover{
        transform: scale(1.1);
        transition: .5s;
    }
    .s8-container{
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 20px;
    }
    .s8-left img{
        width: 100%;
    }
    .s8-left{
        padding: 0;
        width: 45%;
    }
    .s8-right{
        width: 52%;
    }
    .s8-right p{
        text-align: left;
    }
    .s8-right h1{
        text-align: left;
        font-size: 1.8rem;
    }
    .s8-btn{
        margin: 0;
    }
    #s8-p2{
        margin: 35px 0 25px 0;
    }
    .s9-container h1{
        padding: 0 230px;
    }
    .s10-container{
        display: flex;
        justify-content: space-between;
    }
    .s10-2:first-child{
        width: 65%;
    }
    .s10-2:last-child{
        width: 50%;
    }
    .popular-photo{
        background-size: 100% 100%;
        width: 75px;
        height: 75px;
    }
    .s10-4:first-child{
        width: 50%;
    }
    .popular-div-right h3{
        font-size: 18px;
    }
    .elsewhere-links{
        margin: 30px 5px;
    }
    .get-in-touch-p{
        margin: 20px 5px;
    }
}

@media screen and (min-width: 1280px){
    header{
        padding: 20px 250px 20px 130px;
    }
    .s1-container{
        width: 80%;
    }
    .s1-left{
        width: 40%;
    }
    .icon-container h2{
        margin: 5px 0 13px 0;
    }

    #s2{
        background: #fff;
    }
    .s2-container{
        width: 80%;
        margin: 0 auto;
    }
    .s3-container{
        padding: 50px 0;
        width: 80%;
        margin: 0 auto;
    }
    .s4-container{
        padding: 60px 0 30px 0;
        margin: 0 auto;
        width: 80%;
    }
    .s5-container{
        padding: 40px 0 20px 0;
        margin: 0 auto;
        width: 80%;
    }
    #s6{
        background-color: #f9fafb;
    }
    .s6-container{
        width: 80%;
        margin: 0 auto;
        padding: 60px 0 40px 0;
    }
    #s7{
        background-color: #f9fafb;
    }
    .s7-container{
        width: 80%;
        margin: 0 auto;
        padding: 80px 0;
    }
    .s7-right{
        width: 55%;
    }
    .s8-container{
        padding: 0;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .s9-container input{
        width: 35%;
    }
}

@media screen and (min-width: 1366px){
    header{
        padding: 20px 270px 20px 140px;
    }
    .s2-container{
        width: 83%;
    }
    .icon-container{
        width: 25%;
        margin: 50px 0;
    }
    .icon-container p{
        font-size: .9rem;
    }
    .s10-container{
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px){
    .s1-left{
        width: 35%;
    }
    .rocket{
        left: 31%;
    }
    .s2-container{
        width: 70%;
        padding: 0;
    }
    .icon-container p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1680px){
    .s1-container{
        width: 60%;
    }
    header{
        padding: 20px 470px 20px 340px;
    }
    .rocket{
        left: 29%;
    }
    .s1-left{
        width: 40%;
    }
    .s2-down{
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 50px;
    }
    .icon-container{
        width: 22%;
    }
    .s3-container{
        width: 74%;
    }
    .s4-container{
        width: 74%;
    }
    .s4-left{
        width: 35%;
    }
    .s5-container{
        width: 74%;
    }
    .s8-container{
        width: 74%;
    }
}

@media screen and (min-width: 1920px){
    .s3-container{
        width: 68%;
    }
    .s4-container{
        width: 68%;
    }
    .s4-left{
        width: 35%;
    }
    .s5-container{
        width: 68%;
    }
    .s7-container{
        width: 65%;
    }
    .s7-left{
        padding: 0;
    }
    .s8-container{
        width: 68%;
    }
    .s10-container{
        width: 63%;
    }
}