.s6{
    height: auto;
}

.s6-container{
    background-color: #f9fafb;
    padding: 60px 20px;
}

.s6-texts p{
    font-size: 1rem;
    text-align: center;
    color: rgba(25,25,25, 0.5);
    font-weight: 600;
    text-transform: uppercase;
}

.s6-texts h1{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin: 15px auto;
}

.container-concept {
    background: url('../images/pattern1.png');
    width: 85px;
    height: 85px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.customer-1{
    background: url('../images/customer-t1.jpg');
}
.customer-2{
    background: url('../images/customer-t2.jpg');
}
.customer-3{
    background: url('../images/customer-t3.jpg');
}
.customer-4{
    background: url('../images/customer-t4.jpg');
}
.customer-5{
    background: url('../images/customer-t5.jpg');
}
.customer-6{
    background: url('../images/customer-t6.jpg');
}

.slika {
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.splide {
    transition: 1s;
}

.splide__slide {
    box-sizing: border-box;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
}

.slide-down {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    align-items: center;
}

.splide__list {
    padding-top: 110px;
}

.splide__slide p {
    color: rgba(120, 120, 120, 1);
    word-spacing: 1mm;
    letter-spacing: .1mm;
    line-height: 1.8;
}

.customer-text {
    margin-top: 8px;
    margin-left: 30px;
    box-sizing: border-box;
}

.customer-text h1 {
    font-size: 18px;
    color: rgb(77, 77, 77);
    margin: 0;
}

.customer-text h2 {
    color: rgb(155, 155, 155);
    margin: 0;
    margin-top: 4px;
    font-size: 16px;
}

.splide__pagination{
    top: 100%;
}

.splide__pagination__page.is-active{
    background: #000000 !important;
}

.splide__pagination__page{
    margin: 1px 5px !important;
}

/* -- MEDIA QUERIES -- */

@media screen and (min-width: 550px) {
    .splide__slide p{
        font-size: 18px;
    }
}